@import "styles/global/utils/_mixins.scss";

.container {
  max-width: 414px;
  margin: auto;
}

.pageHeader {
  height: 44px;

  background-color: var(--primary_color);
  padding: 11px 16px;
}

.pageHeader_title {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.pageMain {
  display: flex;
  flex-direction: column;

  background-color: var(--secondary_color);
  height: calc(100vh - 44px - 44px - 32px);
}

.bottomBar {
  margin-top: auto;

  display: flex;
  gap: 2px;

  padding: 2px;

  background-color: var(--white_color);
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.24);
}

.buttonPrimary {
  @include buttonPrimary;
  flex: 1;
}
