.navBar {
  display: flex;
  gap: 10px;
}

.link {
  color: var(--white_color);
  transition: transform 0.3s ease;
  text-decoration: none;

  &:hover {
  }
}

.active {
  font-weight: bold;
  color: #ffbfa0;
}
